body.inline .module-docheader-bar-navigation,
body.inline .module-docheader,
body.inline .t3js-editform-delete-record,
body.inline .help-block,
body.inline .module-docheader-bar-column-right,
body.inline h1 {
    display: none;
}
body.inline form {
    position: absolute;
    top: 0;
}
body.inline .module-docheader-bar-column-left {
    margin-top: 1em;
}
iframe.inline-editable {
    border-style: none;
    height: 50px;
    width: 100%;
}
